In [1]:
import pandas
import configparser
import psycopg2

In [22]:
config = configparser.ConfigParser()
config.read('config.ini')

db = config['myaws']['db']
host = config['myaws']['host']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [23]:
conn = psycopg2.connect(
                        host = host,
                        user = user,
                        password = pwd,
                        dbname = db)

In [34]:
sql = """select * from student
"""

In [35]:
df = pandas.read_sql_query(sql,conn)

df[:]

/tmp/ipykernel_10021/3565219349.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql,conn)

      s_email s_name major
0  s5@jmu.edu     s3    IA

In [36]:
df = pandas.read_sql_query(sql,conn)

df.groupby('house_type').mean()

/tmp/ipykernel_10021/510486169.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql,conn)

KeyError: 'house_type'

In [20]:
sql = """select avg(price) as avg_price, house_type
            from house_price_full
            group by house_type
"""

In [21]:
df = pandas.read_sql_query(sql,conn)
df[:]

/tmp/ipykernel_10021/831397919.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql,conn)

      avg_price          house_type
0  2.186405e+05         lot or land
1  1.999830e+05               condo
2  2.002999e+06                None
3  2.724333e+05        multi-family
4  3.402677e+05  single-family home
5  2.190297e+05           townhouse

In [29]:
cur = conn.cursor()

In [31]:
sql = """
    insert into student(s_email,s_name,major)
    values('{}','{}','{}')
    """.format('s5@jmu.edu','s3','IA')
print(sql)

    insert into student(s_email,s_name,major)
    values('s5@jmu.edu','s3','IA')

In [32]:
cur.execute(sql)

In [33]:
conn.commit()

In [37]:
cur.close()

In [38]:
conn.close()